{{> memberMenu id = "dashboard"}}

<section class="ui inverted blue segment">
    <section class="ui yellow raised segment">

        {{#if goalAlert}}
            <div class="ui warning message" id="prompt">
                <i class="close icon" onclick="hide()"></i>
                <div class="header">
                    Hey there {{{member.firstName}}} you have not set any goals, click
                    <a href="/dashboard/memberGoals">here </a>to set one!
                </div>
            </div>
        {{else}}
            <div class="ui negative message" id="prompt">
                <i class="close icon" onclick="hide()"></i>
                <div class="header">
                    {{member.firstname}} {{member.lastname}} data
                </div>
            </div>
        {{/if}}

        {{> memberStats }}
        {{> memberAddAssessment }}
    </section>
</section>

