{{> welcomeMenu }}

<section class="ui center aligned middle aligned segment">
    <p> HOMERS GYM ..  Sign up or Log in... </p>

</section>
<img class="ui large circular centered image" src="https://hdwallpapers.cat/wallpaper/homer-s-gym-simpsons-funny-tv-people-actors-8389.jpg">
