{{> trainerMenu id = "trainerViewAssessments"}}

<section class="ui inverted yellow segment">
    <section class="ui raised segment">
        <h2 class="ui blue center aligned header">{{member.firstName}} {{member.lastName}}'s Assessments List</h2>

        {{> memberStats }}
        {{> trainerAssessments }}

    </section>
</section>


