{{> trainerMenu id="trainerGoals"}}

<section class="ui inverted blue segment">
    <section class="ui inverted yellow segment">
        <div class="ui large green ribbon label">
            <i class="bullseye icon"></i> All Goals for your Members {{trainer.lastName}}&emsp;<i class="pointing down icon"></i>
        </div>
        <section class="ui yellow center aligned segment">

            {{>trainerAddGoal}}

        </section>
    </section>
</section>

